{% extends 'catalogue/base_catalogue.html' %}

{% block data %}
    <div class="product-details">
        <h3>{{ product.title|title }}</h3>
        <p>{{ product.description|truncatewords:1000 }}</p>
        <p>Price: ${{ product.stock.price|floatformat:2 }}</p>
        <form method="post" action="{% url 'add_to_basket' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ request.build_absolute_uri }}">
            <button type="submit">Add to Basket</button>
        </form>
    </div>
{% endblock %}

{% block title %}{{ product.title }}{% endblock %}
